.detail-event-container{
    background-color: #f8a488;
    background-image: url("https://mp.contentserv.com/admin/ImageServer.php?ID=259b3a13745@aiw217&rand=50d3d47f303f534abfdd5c6c375ce26b&lang=1");
    background-repeat: no-repeat;
    background-size: cover;
}

.card-view{
    background-color: #dff5ef;
    width:100%;
}

.detailed-view-user-list{

}

.comment-cotainer{
    margin-left: 20%;
    margin-right:20%;
}

.coment-textarea{
 width:50%;
}

/*.detailed-view-comment-list li{*/
/*    background-color: #FFEBCD*/
/*}*/
.detailed-view-comment-list li:nth-child(even) {
    background: #FFEBCD;
}
.detailed-view-user-list li:nth-child(even) {
    background: #ffebcd;
}

.comment-user{
    color: #ef3737;
}
